<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon size="30" shape="dna"></clr-icon>
        <span class="title">Medical Info</span>
      </a>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <clr-icon shape="user"></clr-icon>
        <button class="nav-icon" clrDropdownTrigger>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">

          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Logout</a>

<!--          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Log out</a>-->
        </clr-dropdown-menu>
      </clr-dropdown>    <!--adding it here -->
    </div>

  </header>

  <div class="content-container">
    <div class="content-area">

      <div class="clr-row">

        <div class="clr-col">

          <div *ngFor="let patient of patients" class="card">

            <ul class="list-group">

              <li class="list-group-item">
                Patient Name: {{patient.name}}
              </li>
                <li class="list-group-item">
                    Patient Gender: {{patient.gender}}
                </li>
                <li class="list-group-item">
                    Patient Age: {{patient.age}}
                </li>
                <li class="list-group-item">
                    Patient Height: {{patient.height}}
                </li>
                <li class="list-group-item">
                    Patient Weight: {{patient.weight}}
                </li>
                <li class="list-group-item">
                    Patient Allergy: {{patient.allergy}}
                </li>
                <li class="list-group-item">
                    Patient Condition: {{patient.cond}}
                </li>
                <li class="list-group-item">
                    <clr-accordion>
                        <clr-accordion-panel>
                            <clr-accordion-title>Details</clr-accordion-title>
                            <clr-accordion-content *clrIfExpanded>
                                <!--                    <p>Details about patient that cannot be categorized....</p>-->

                                <form class="clr-form">
                                    <div class="clr-form-control">
                                        <label for="vertical-textarea-basic" class="clr-control-label">Patient details</label>
                                        <div class="clr-control-container">
                                            <div class="clr-textarea-wrapper">
                            <textarea rows="10" cols="100" id="vertical-textarea-basic" placeholder="Details about patient that cannot be categorized.... " class="clr-textarea">

                            {{patient.details}}

                            </textarea>
                                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                                            </div>
                                            <span class="clr-subtext">Helper Text</span>
                                        </div>
                                    </div>
                                </form>

                            </clr-accordion-content>
                        </clr-accordion-panel>

                    </clr-accordion>
                </li>
            </ul>

            <button class="btn btn-warning">Delete</button>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-success">Save</button>
<!--            </div>-->
          </div>

        </div>
<!--        <div class="clr-col">-->
<!--          <span>1/5</span>-->
<!-- TOD0 if we need more add it like the div above-->
      </div>
    </div>
    <button class="btn btn-success">Add Card</button>
  </div>
</div>
