<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon size="30" shape="dna"></clr-icon>
        <span class="title">Medical Info</span>
      </a>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <clr-icon shape="user"></clr-icon>
        <button class="nav-icon" clrDropdownTrigger>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">

          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Logout</a>

<!--          <a href="javascript:void(0);" (click)="logout()" clrDropdownItem>Log out</a>-->
        </clr-dropdown-menu>
      </clr-dropdown>    <!--adding it here -->
    </div>

  </header>

    <ul class="list-group">
        <li *ngFor="let patient of patients" class="list-group-item">
            {{patient.name}}

        </li>

    </ul>

  <div class="content-container">
    <div class="content-area">

      <div class="clr-row">

        <div class="clr-col">

          <div class="card">

            <ul class="list-group">

              <li *ngFor="let patient of patients"
                  (click)="selectPatient(patient)"
                  [ngClass]="{'text': patient.id == selectedPatient.id}"
                  class="list-group-item">
                Patient Name: {{patient.name}}
              </li>
                <li *ngFor="let patient of patients"
                    (click)="selectPatient(patient)"
                    [ngClass]="{'text': patient.id == selectedPatient.id}"
                    class="list-group-item">
                    Gender: {{patient.gender}}
                </li>
                <li *ngFor="let patient of patients"
                    (click)="selectPatient(patient)"
                    [ngClass]="{'text': patient.id == selectedPatient.id}"
                    class="list-group-item">
                    Age: {{patient.age}}
                </li>
                <li *ngFor="let patient of patients"
                    (click)="selectPatient(patient)"
                    [ngClass]="{'text': patient.id == selectedPatient.id}"
                    class="list-group-item">
                    Height: {{patient.height}}
                </li>
                <li *ngFor="let patient of patients"
                    (click)="selectPatient(patient)"
                    [ngClass]="{'text': patient.id == selectedPatient.id}"
                    class="list-group-item">
                    Weight: {{patient.weight}}
                </li>
                <li *ngFor="let patient of patients"
                    (click)="selectPatient(patient)"
                    [ngClass]="{'text': patient.id == selectedPatient.id}"
                    class="list-group-item">
                    Allergy: {{patient.allergy}}
                </li>
                <li *ngFor="let patient of patients"
                    (click)="selectPatient(patient)"
                    [ngClass]="{'text': patient.id == selectedPatient.id}"
                    class="list-group-item">
                    Condition: {{patient.cond}}
                </li>
            </ul>
<!--            <div class="card-footer">-->
<!--              <a href="..." class="btn btn-sm btn-link">Details</a>-->
              <clr-accordion>
                <clr-accordion-panel>
                  <clr-accordion-title>Details</clr-accordion-title>
                  <clr-accordion-content *clrIfExpanded>
<!--                    <p>Details about patient that cannot be categorized....</p>-->

                    <form class="clr-form">
                      <div class="clr-form-control">
                        <label for="vertical-textarea-basic" class="clr-control-label">Patient details</label>
                        <div class="clr-control-container">
                          <div class="clr-textarea-wrapper">
                            <textarea *ngFor="let patient of patients"
                                      (click)="selectPatient(patient)"
                                      [ngClass]="{'text': patient.id == selectedPatient.id}" rows="10" cols="100" id="vertical-textarea-basic" placeholder="Details about patient that cannot be categorized.... " class="clr-textarea">

                            {{patient.details}}

                            </textarea>
                            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                          </div>
                          <span class="clr-subtext">Helper Text</span>
                        </div>
                      </div>
                    </form>





                  </clr-accordion-content>
                </clr-accordion-panel>

              </clr-accordion>
            <button class="btn btn-warning">Delete</button>
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-success">Save</button>
<!--            </div>-->
          </div>

        </div>
        <div class="clr-col">
          <span>SECOND CARD</span>
        </div>
<!--        <div class="clr-col">-->
<!--          <span>1/5</span>-->
<!-- TOD0 if we need more add it like the div above-->
      </div>
    </div>
    <button class="btn btn-success">Add Card</button>
  </div>
</div>
