<div class="login-wrapper">

    <form class="login" (ngSubmit)="onSubmit(signInForm)" #signInForm ="ngForm">

        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            <clr-icon size="26" shape="dna"></clr-icon>
            Medical Info
        </section>
        <div class="login-group">

            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input type="email" name="email" clrInput placeholder="Email" required ngModel/>
            </clr-input-container>

            <div class="error {{errorActive}} " *ngIf="isFormInvalid">
                Please fill in the requirements
            </div>

            <button class="btn btn-primary" type="submit">Reset</button>
            <!--      <a href="javascript:void(0);" routerLink = "/login" clrDropdownItem>Logout</a>-->

            <a href="javascript://" class="signup" routerLink ="/login">Back to Login</a>

            <a href="javascript://" class="signup" routerLink ="/register">No Account, No problem Click Here</a>

        </div>
    </form>
</div>
