<!-- <h1>Profile for Student {{userId}}</h1> -->
<h1>Profile for {{userName}}</h1>

<div style="margin: 5%">

    <div class="col">
      <ul class="list-group">
        <li>
          name: {{userName}}

        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group">
        <li>
          password: {{password}}

        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group">
        <li>
          ID: {{userId}}

        </li>
      </ul>
    </div>
  </div>

